{{!-- Attributes Tab --}}
<section class="tab {{ tab.cssClass }}" data-group="{{ tab.group }}" data-tab="{{ tab.id }}">
  <div class="attributes-grid">
    {{#each attributeConfig as |label key|}}
    <div class="attribute form-group">
      <label class="rollable" data-roll-attribute="{{key}}">{{localize label}}</label>
      <select name="system.attributes.{{key}}" class="attribute-select">
        {{selectOptions ../attributeDiceTypes selected=(lookup ../system.attributes key) localize=true}}
      </select>
    </div>
    {{/each}}
  </div>
</section>
