<div class="dice-pool-tray-row">
  <div class="dice-pool-chips">
    {{#if dicePool.length}}
      {{#each dicePool}}
        <span class="pool-chip" data-id="{{id}}" title="Click to remove">
          <span class="chip-label">{{label}}</span>
          <span class="chip-die">{{die}}</span>
        </span>
      {{/each}}
      {{#if dicePoolFlat}}
        <span class="pool-flat">{{#if (gt dicePoolFlat 0)}}+{{/if}}{{dicePoolFlat}}</span>
      {{/if}}
    {{else}}
      <span class="pool-empty">Click attributes or skills to build a pool</span>
    {{/if}}
  </div>
  <div class="dice-pool-actions">
    <button type="button" class="dice-pool-roll-btn" {{#unless dicePool.length}}disabled{{/unless}}>Roll</button>
    <button type="button" class="dice-pool-clear-btn" {{#unless dicePool.length}}disabled{{/unless}}>Clear</button>
  </div>
</div>
<div class="dice-pool-utility-row">
  <div class="dice-pool-add-row">
    <span class="dice-pool-add-label">Add:</span>
    {{#each bonusDice}}
      <button type="button" class="dice-pool-add-die" data-die="{{this}}">{{this}}</button>
    {{/each}}
  </div>
  <div class="dice-pool-history-nav">
    <button type="button" class="history-up" {{#unless historyCanGoUp}}disabled{{/unless}} title="Previous roll">↑</button>
    <button type="button" class="history-down" {{#unless historyCanGoDown}}disabled{{/unless}} title="Next roll">↓</button>
  </div>
  <div class="dice-pool-save-row">
    <input type="text" class="save-roll-name" value="{{saveRollName}}" placeholder="Roll name…" maxlength="40">
    <button type="button" class="save-roll-btn" {{#unless dicePool.length}}disabled{{/unless}}>Save Roll</button>
  </div>
</div>
