{{#if (eq item.type "weapon")}}
  {{> "systems/odd-rpg/templates/item/partials/weapon-form.hbs"}}
{{else if (eq item.type "armor")}}
  {{> "systems/odd-rpg/templates/item/partials/armor-form.hbs"}}
{{else if (eq item.type "talent")}}
  {{> "systems/odd-rpg/templates/item/partials/talent-form.hbs"}}
{{else if (eq item.type "flaw")}}
  {{> "systems/odd-rpg/templates/item/partials/flaw-form.hbs"}}
{{else if (eq item.type "item")}}
  {{> "systems/odd-rpg/templates/item/partials/item-form.hbs"}}
{{else}}
  <div class="odd-rpg sheet item">
    <header class="item-header">
      <img class="item-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" width="48" height="48" />
      <input class="item-name" name="name" type="text" value="{{item.name}}" placeholder="Item Name" />
    </header>
    <section class="item-body">
      <prose-mirror name="system.description" value="{{system.description}}" compact></prose-mirror>
    </section>
  </div>
{{/if}}
